<br />
<br />

<center><h1><b>Lecture 14</b></h1></center>
<center><h1><b>Data Analysis with Python</b></h1></center>

<center><h4>Time: M56 (13:20 ~ 15:10) and R2 (09:00 ~ 09:50)</h4></center>
<br />

<center><h2>Chieh-En Lee<sup>1</sup> (李杰恩) and Chung-Hao Tien<sup>2</sup> (田仲豪)</h2></center>

<center>
<h4>{<a href="mailto:celee@nycu.edu.tw">celee</a><sup>1</sup>, 
<a href="mailto:chtien@nycu.edu.tw">chtien</a><sup>2</sup>}@nycu.edu.tw</h4>
</center>

<center><h3><a href="https://dop.nycu.edu.tw/ch/index.html">Department of Photonics</a>, <a href="https://www.nycu.edu.tw/">NYCU</a></h3></center>

<br />
<center><h5><a href="https://github.com/bruce88617/nycudopcs">Introduction to Computer and Computer Science</a>, 2022 Fall</h5></center>

## Last time

- Python package: NumPy  
- Python package: Matplotlib

## **Today**

<html>
<head>
</head>
<body>
<ul>
  <li><a href="#tag1">Python package: Pandas</a></li>
  <!-- <li><a href="#tag2">More on Python package: Matplotlib</a></li> -->
  <!-- <li><a href="#tag3">???</a></li> -->
</ul>

</body>

<a id="tag1"></a>

## **Python package: `pandas`**  

- `pandas` is a Python package providing fast, flexible, and expressive data structures designed to make working with **relational** or **labeled** data both easy and intuitive.

- Reference:  
    1. [Pandas documentation](https://pandas.pydata.org/docs/index.html)
    2. [Pandas tutorials](https://pandas.pydata.org/docs/getting_started/intro_tutorials/index.html)

- - -

#### Install `pandas`

1. Activate your virtual environment

2. Install `pandas`

    ```
    pip install pandas
    ```

<img align="center" height=auto width=500px src="https://raw.githubusercontent.com/bruce88617/nycudopcs/main/Lectures/Lecture14/assets/fig1.png">

- - -

#### DataFrame and Series

- A `DataFrame` is a 2-dimensional data structure that can store data of different types (including characters, integers, floating point values, categorical data and more) in columns.

- Each column in a `DataFrame` is a `Series`.

<img align="center" height=auto width=500px src="https://raw.githubusercontent.com/bruce88617/nycudopcs/main/Lectures/Lecture14/assets/fig2.png">

- - -

In [1]:
import pandas as pd

df1 = pd.DataFrame({
    "Student ID": ["112514001", "112514002", "112514003", "112514004", "112514005"],
    "Gender": ["Female", "Male", "Third", "Female", "Male"],
    "HW#1": [100, 0, 70, 90, 80],
    "HW#2": [90, 60, 95, 85, 100],
    "HW#3": [100, 75, 80, 100, 60],
})

print(df1)

  Student ID  Gender  HW#1  HW#2  HW#3
0  112514001  Female   100    90   100
1  112514002    Male     0    60    75
2  112514003   Third    70    95    80
3  112514004  Female    90    85   100
4  112514005    Male    80   100    60

In [2]:
print(df1["HW#1"])

0    100
1      0
2     70
3     90
4     80
Name: HW#1, dtype: int64

In [3]:
print(df1.iloc[0])
print("type(df1.iloc[0]):", type(df1.iloc[0]))

Student ID    112514001
Gender           Female
HW#1                100
HW#2                 90
HW#3                100
Name: 0, dtype: object
type(df1.iloc[0]): <class 'pandas.core.series.Series'>

In [4]:
import numpy as np

hw4 = pd.Series(np.random.randint(0, 100, size=(5,)), name="HW#4")

print(hw4)

0    25
1    31
2    99
3    96
4    51
Name: HW#4, dtype: int32

In [5]:
# Add new column
df1["HW#4"] = hw4

print(df1)

  Student ID  Gender  HW#1  HW#2  HW#3  HW#4
0  112514001  Female   100    90   100    25
1  112514002    Male     0    60    75    31
2  112514003   Third    70    95    80    99
3  112514004  Female    90    85   100    96
4  112514005    Male    80   100    60    51

In [6]:
# Add new column from existing columns
df1["Final"] = df1["HW#1"]*0.3 + df1["HW#2"]*0.3 + df1["HW#3"]*0.3 + df1["HW#4"]*0.1

print(df1)

  Student ID  Gender  HW#1  HW#2  HW#3  HW#4  Final
0  112514001  Female   100    90   100    25   89.5
1  112514002    Male     0    60    75    31   43.6
2  112514003   Third    70    95    80    99   83.4
3  112514004  Female    90    85   100    96   92.1
4  112514005    Male    80   100    60    51   77.1

- Using `pd.DataFrame.describe()` to acquire the basic statistics

In [7]:
# Only for the numerical data
df1.describe()

             HW#1        HW#2        HW#3       HW#4      Final
count    5.000000    5.000000    5.000000   5.000000   5.000000
mean    68.000000   86.000000   83.000000  60.400000  77.140000
std     39.623226   15.572412   17.175564  35.224991  19.625825
min      0.000000   60.000000   60.000000  25.000000  43.600000
25%     70.000000   85.000000   75.000000  31.000000  77.100000
50%     80.000000   90.000000   80.000000  51.000000  83.400000
75%     90.000000   95.000000  100.000000  96.000000  89.500000
max    100.000000  100.000000  100.000000  99.000000  92.100000

In [8]:
# Get dtype of each column
print(df1.dtypes)

# Get the shape of the DataFrame
print(df1.shape)

Student ID     object
Gender         object
HW#1            int64
HW#2            int64
HW#3            int64
HW#4            int32
Final         float64
dtype: object
(5, 7)

In [9]:
# data_range

num = 10
dates = pd.date_range("2050-12-25", periods=5, freq="W-THU")
idx = ["1395140{:02d}".format(i+1) for i in range(num)]

df2 = pd.DataFrame(np.random.randint(0, 3, (num, len(dates))), index=idx, columns=dates)

print(df2)
print(df2.index)
print(df2.columns)

           2050-12-29  2051-01-05  2051-01-12  2051-01-19  2051-01-26
139514001           2           1           2           2           1
139514002           0           0           2           0           2
139514003           1           2           1           2           1
139514004           0           2           0           2           2
139514005           0           2           1           2           1
139514006           0           2           0           2           1
139514007           2           0           0           2           1
139514008           0           1           0           1           2
139514009           0           0           0           0           0
139514010           0           0           2           1           1
Index(['139514001', '139514002', '139514003', '139514004', '139514005',
       '139514006', '139514007', '139514008', '139514009', '139514010'],
      dtype='object')
DatetimeIndex(['2050-12-29', '2051-01-05', '2051-01-12', '2051-01-19',
               '2051-01-26'],
              dtype='datetime64[ns]', freq='W-THU')

#### Read and write tabular data

- Use `DataFrame.to_*` for exporting data
    1. [to_csv](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_csv.html)
    2. [to_excel](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_excel.html)
    3. ...  
<br>

- Use `pd.read_*` for reading data
    1. [read_csv](https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html)
    2. [read_excel](https://pandas.pydata.org/docs/reference/api/pandas.read_excel.html)
    3. ...

In [10]:
# exporting df1 as a .csv file

# df1.to_csv("test.csv")

In [11]:
# importing data from a .csv file
batting = pd.read_csv(".//data//data_batting.csv")

print(batting)

        playerID  yearID  stint teamID lgID    G   AB   R   H  2B  ...  RBI  \
0       abadan01    2001      1    OAK   AL    1    1   0   0   0  ...    0
1      abbotje01    2001      1    FLO   NL   28   42   5  11   3  ...    5
2      abbotku01    2001      1    ATL   NL    6    9   0   2   0  ...    0
3      abbotpa01    2001      1    SEA   AL   28    4   0   1   0  ...    0
4      abernbr01    2001      1    TBA   AL   79  304  43  82  17  ...   33
...          ...     ...    ...    ...  ...  ...  ...  ..  ..  ..  ...  ...
20695   zitoba01    2015      1    OAK   AL    3    0   0   0   0  ...    0
20696  zobribe01    2015      1    OAK   AL   67  235  39  63  20  ...   33
20697  zobribe01    2015      2    KCA   AL   59  232  37  66  16  ...   23
20698  zuninmi01    2015      1    SEA   AL  112  350  28  61  11  ...   28
20699   zychto01    2015      1    SEA   AL   13    0   0   0   0  ...    0

       SB  CS  BB   SO  IBB  HBP  SH  SF  GIDP
0       0   0   0    0    0    0   0   0     0
1       0   0   3    7    0    1   0   0     1
2       1   0   0    3    0    0   0   0     0
3       0   0   0    1    0    0   1   0     0
4       8   3  27   35    1    0   3   1     3
...    ..  ..  ..  ...  ...  ...  ..  ..   ...
20695   0   0   0    0    0    0   0   0     0
20696   1   1  33   26    2    0   0   3     5
20697   2   3  29   30    1    1   0   2     3
20698   0   1  21  132    0    5   8   2     6
20699   0   0   0    0    0    0   0   0     0

[20700 rows x 22 columns]

In [12]:
# Only show the first 5 rows
print(batting.head())

# Change n if you need
# print(batting.head(n=7))

    playerID  yearID  stint teamID lgID   G   AB   R   H  2B  ...  RBI  SB  \
0   abadan01    2001      1    OAK   AL   1    1   0   0   0  ...    0   0
1  abbotje01    2001      1    FLO   NL  28   42   5  11   3  ...    5   0
2  abbotku01    2001      1    ATL   NL   6    9   0   2   0  ...    0   1
3  abbotpa01    2001      1    SEA   AL  28    4   0   1   0  ...    0   0
4  abernbr01    2001      1    TBA   AL  79  304  43  82  17  ...   33   8

   CS  BB  SO  IBB  HBP  SH  SF  GIDP
0   0   0   0    0    0   0   0     0
1   0   3   7    0    1   0   0     1
2   0   0   3    0    0   0   0     0
3   0   0   1    0    0   1   0     0
4   3  27  35    1    0   3   1     3

[5 rows x 22 columns]

#### Filter a subset of a `DataFrame`

- Example: Extracting the batting statistics of **Albert Pujols**

In [13]:
# method 1
tmp_list = []

for i in range(batting.shape[0]):
    if batting.iloc[i]["playerID"] == "pujolal01":
        tmp_list.append(batting.iloc[i])

method1 = pd.DataFrame(tmp_list, columns=batting.columns)

print(method1)

        playerID  yearID  stint teamID lgID    G   AB    R    H  2B  ...  RBI  \
972    pujolal01    2001      1    SLN   NL  161  590  112  194  47  ...  130
2302   pujolal01    2002      1    SLN   NL  157  590  118  185  40  ...  127
3616   pujolal01    2003      1    SLN   NL  157  591  137  212  51  ...  124
5010   pujolal01    2004      1    SLN   NL  154  592  133  196  51  ...  123
6314   pujolal01    2005      1    SLN   NL  161  591  129  195  38  ...  117
7674   pujolal01    2006      1    SLN   NL  143  535  119  177  33  ...  137
9065   pujolal01    2007      1    SLN   NL  158  565   99  185  38  ...  103
10451  pujolal01    2008      1    SLN   NL  148  524  100  187  44  ...  116
11836  pujolal01    2009      1    SLN   NL  160  568  124  186  45  ...  135
13197  pujolal01    2010      1    SLN   NL  159  587  115  183  39  ...  118
14578  pujolal01    2011      1    SLN   NL  147  579  105  173  29  ...   99
15995  pujolal01    2012      1    LAA   AL  154  607   85  173  50  ...  105
17411  pujolal01    2013      1    LAA   AL   99  391   49  101  19  ...   64
18825  pujolal01    2014      1    LAA   AL  159  633   89  172  37  ...  105
20297  pujolal01    2015      1    LAA   AL  157  602   85  147  22  ...   95

       SB  CS   BB  SO  IBB  HBP  SH  SF  GIDP
972     1   3   69  93    6    9   1   7    21
2302    2   4   72  69   13    9   0   4    20
3616    5   1   79  65   12   10   0   5    13
5010    5   5   84  52   12    7   0   9    21
6314   16   2   97  65   27    9   0   3    19
7674    7   2   92  50   28    4   0   3    20
9065    2   6   99  58   22    7   0   8    27
10451   7   3  104  54   34    5   0   8    16
11836  16   4  115  64   44    9   0   8    23
13197  14   4  103  76   38    4   0   6    23
14578   9   1   61  58   15    4   0   7    29
15995   8   1   52  76   16    5   0   6    19
17411   1   1   40  55    8    5   0   7    18
18825   5   1   48  71   11    5   0   9    28
20297   5   3   50  72   10    6   0   3    15

[15 rows x 22 columns]

In [14]:
# method 2
method2 = batting[batting["playerID"] == "pujolal01"]

print(method2)

        playerID  yearID  stint teamID lgID    G   AB    R    H  2B  ...  RBI  \
972    pujolal01    2001      1    SLN   NL  161  590  112  194  47  ...  130
2302   pujolal01    2002      1    SLN   NL  157  590  118  185  40  ...  127
3616   pujolal01    2003      1    SLN   NL  157  591  137  212  51  ...  124
5010   pujolal01    2004      1    SLN   NL  154  592  133  196  51  ...  123
6314   pujolal01    2005      1    SLN   NL  161  591  129  195  38  ...  117
7674   pujolal01    2006      1    SLN   NL  143  535  119  177  33  ...  137
9065   pujolal01    2007      1    SLN   NL  158  565   99  185  38  ...  103
10451  pujolal01    2008      1    SLN   NL  148  524  100  187  44  ...  116
11836  pujolal01    2009      1    SLN   NL  160  568  124  186  45  ...  135
13197  pujolal01    2010      1    SLN   NL  159  587  115  183  39  ...  118
14578  pujolal01    2011      1    SLN   NL  147  579  105  173  29  ...   99
15995  pujolal01    2012      1    LAA   AL  154  607   85  173  50  ...  105
17411  pujolal01    2013      1    LAA   AL   99  391   49  101  19  ...   64
18825  pujolal01    2014      1    LAA   AL  159  633   89  172  37  ...  105
20297  pujolal01    2015      1    LAA   AL  157  602   85  147  22  ...   95

       SB  CS   BB  SO  IBB  HBP  SH  SF  GIDP
972     1   3   69  93    6    9   1   7    21
2302    2   4   72  69   13    9   0   4    20
3616    5   1   79  65   12   10   0   5    13
5010    5   5   84  52   12    7   0   9    21
6314   16   2   97  65   27    9   0   3    19
7674    7   2   92  50   28    4   0   3    20
9065    2   6   99  58   22    7   0   8    27
10451   7   3  104  54   34    5   0   8    16
11836  16   4  115  64   44    9   0   8    23
13197  14   4  103  76   38    4   0   6    23
14578   9   1   61  58   15    4   0   7    29
15995   8   1   52  76   16    5   0   6    19
17411   1   1   40  55    8    5   0   7    18
18825   5   1   48  71   11    5   0   9    28
20297   5   3   50  72   10    6   0   3    15

[15 rows x 22 columns]

#### Exercise 1: calculate the **slugging percentage (SLG)**

- Please write a program that calculates the **slugging percentage (SLG)** of Albert Pujols during his first career in St. Louis Cardinals (2001-2011).

- Please also calculate the average SLG of the entire league during 2001-2011.

- The definition of SLG is:

$$
\text{SLG} = \frac{1 \times (\text{1B}) + 2 \times (\text{2B}) + 3 \times (\text{3B}) + 4 \times (\text{HR})}{\text{AB}}
$$

- Please plot the result:

- - -

<img align="center" height=250px width=auto src="https://raw.githubusercontent.com/bruce88617/nycudopcs/main/Lectures/Lecture14/assets/exercise1_1.png">

<img align="center" height=250px width=auto src="https://raw.githubusercontent.com/bruce88617/nycudopcs/main/Lectures/Lecture14/assets/exercise1_2.png">

- - -

<details><summary>Click here for solution</summary>

```python
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

batting = pd.read_csv(".//data//data_batting.csv")
pujols = batting[batting["playerID"] == "pujolal01"]

data = pujols[pujols["teamID"] == "SLN"][["playerID", "yearID", "teamID", "AB", "H", "2B", "3B", "HR"]]

data["SLG"] = (((data["H"]-data["2B"]-data["3B"]-data["HR"]) + 2*data["2B"] + 3*data["3B"] + 4*data["HR"])/data["AB"]).round(2)

slg_all = []

for i in range(data.shape[0]):
    data_all = batting[batting["yearID"] == (2001+i) ][["playerID", "yearID", "teamID", "AB", "H", "2B", "3B", "HR"]]
    data_all["SLG"] = (((data_all["H"]-data_all["2B"]-data_all["3B"]-data_all["HR"]) + \
        2*data_all["2B"] + 3*data_all["3B"] + 4*data_all["HR"])/data_all["AB"])

    slg_all.append(data_all["SLG"].mean())    

data["League SLG"] = slg_all

fig = plt.figure(1, figsize=(6,4), dpi=100)
ax = fig.add_subplot(111)
ax.plot(data["yearID"], data["SLG"], label="Albert Pujols")
ax.plot(data["yearID"], data["League SLG"], label="League SLG")
ax.set_title("Albert Pujols' Batting Status", fontweight='bold')
ax.set_xlabel("Year", fontweight='bold')
ax.set_ylabel("SLG", fontweight='bold')
ax.grid(True)
ax.legend()

plt.show()
```

</details>

#### Exercise 2: calculate the **wOBA**, **wRAA**, and **wRC**

- Please write a program that calculates the **weighted on-base average (wOBA)**, **weighted runs above average (wRAA)**, and **weighted Runs Created (wRC)** of all player that had played in MLB 2022 season.

- [Your data is here.](.//data/data_batting2022.csv)

- The definitions of **wOBA**, **wRAA**, and **wRC** of MLB 2022 are:

$$
\begin{aligned}
\text{wOBA} &= \frac{0.689 \cdot \text{uBB} + 0.72 \cdot \text{HBP} + 0.884 \cdot \text{1B}+ 1.261 \cdot \text{2B} + 1.601 \cdot \text{3B} + 2.072 \cdot \text{HR}}{\text{AB} + \text{BB} - \text{IBB} + \text{SF} + \text{HBP}}\\

\text{uBB} &= \text{BB} - \text{IBB}\\

\text{wRAA} &= (\frac{\text{wOBA} - \text{league wOBA}}{\text{wOBA scale}}) \times \text{PA}\\

\text{wRAA} &= (\frac{\text{wOBA} - 0.310}{1.259}) \times \text{PA}\\

\text{wRC} &= (\frac{\text{wOBA} - \text{league wOBA}}{\text{wOBA scale}} + \text{league \(\frac {\text{R}}{\text{PA}}\)}) \times \text{PA}\\

\text{wRC} &= (\frac{\text{wOBA} - 0.310}{1.259} + 0.114) \times \text{PA}

\end{aligned}
$$

- Please plot the result:

- - -

- Style 1:

<img align="center" height=auto width=1000px src="https://raw.githubusercontent.com/bruce88617/nycudopcs/main/Lectures/Lecture14/assets/exercise2_1.png">

<br>

- Style 2:

<img align="center" height=auto width=1000px src="https://raw.githubusercontent.com/bruce88617/nycudopcs/main/Lectures/Lecture14/assets/exercise2_2.png">

- - -

<details><summary>Click here for solution</summary>

```python
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

batting2022 = pd.read_csv(".//data//data_batting2022.csv")

batting2022["wOBA"] = (0.689*(batting2022["BB"]-batting2022["IBB"]) + 0.72*batting2022["HBP"] + \
    0.884*batting2022["1B"] + 1.261*batting2022["2B"] + 1.601*batting2022["3B"] + 2.072*batting2022["HR"]) / \
        (batting2022["AB"] + batting2022["BB"] - batting2022["IBB"] + batting2022["SF"] + batting2022["HBP"])

mean_wOBA = 0.310

batting2022["wRAA"] = (batting2022["wOBA"]- mean_wOBA)*batting2022["PA"]/1.259

batting2022["wRC"] = ((batting2022["wOBA"]- mean_wOBA)/1.259 + 0.114)*batting2022["PA"]

players = [
    "Aaron Judge", "Jose Ramirez", "Shohei Ohtani", "Nolan Arenado", "Paul Goldschmidt", "Freddie Freeman", 
]

while len(players) < 20:
    pick = np.random.randint(0, batting2022.shape[0])
    new = batting2022.iloc[pick]["playerID"]
    if new not in players:
        players.append(new)

y_wOBA = []
y_wRC = []

for i in range(len(players)):
    y_wOBA.append(batting2022[batting2022["playerID"] == players[i]]["wOBA"])
    y_wRC.append(batting2022[batting2022["playerID"] == players[i]]["wRC"])

```

</details>

<details><summary>Click here for style 1</summary>

```python
fig = plt.figure(1, figsize=(12,4), dpi=100)

ax = fig.add_subplot(111)    
ax.scatter(range(len(players)), y_wOBA, c="r")
ax.plot(range(len(players)), np.ones((len(players),))*mean_wOBA, 'r--', label="League average wOBA")
ax.set_ylabel("wOBA", color='r')
ax.set_xticks(range(len(players)))
ax.set_xticklabels(players, fontsize=8)
for label in ax.get_xticklabels():
    label.set_rotation(40)
    label.set_horizontalalignment('center')

ax.tick_params(axis='x', which='both', direction='inout')
ax.tick_params(axis='y', labelcolor='r')

ax2 = ax.twinx()
ax2.scatter(range(len(players)), y_wRC, c="b")
ax2.plot(range(len(players)), np.ones((len(players),))*65, 'b--', label="Average wRC = 65")
ax2.set_ylabel("wRC", color='b')
ax2.tick_params(axis='y', labelcolor='b')

fig.suptitle("wOBA and wRC of players")
fig.legend(labelcolor='linecolor')
fig.tight_layout()
fig.savefig("exercise2_1.png", bbox_inches='tight', facecolor='white')

plt.show()
```

</details>

<details><summary>Click here for style 2</summary>

```python
from mpl_toolkits.axes_grid1 import host_subplot

fig2 = plt.figure(2, figsize=(12,4), dpi=100)

host = host_subplot(111)
par = host.twinx()

host.scatter(range(len(players)), y_wOBA, c="r")
par.scatter(range(len(players)), y_wRC, c="b")

data1, = host.plot(range(len(players)), np.ones((len(players),))*mean_wOBA, 'r--', label="League average wOBA")
data2, = par.plot(range(len(players)), np.ones((len(players),))*65, 'b--', label="Average wRC = 65")

host.set_ylabel("wOBA", color='r')
host.set_xticks(range(len(players)))
host.set_xticklabels(players, fontsize=8)

for label in host.get_xticklabels():
    label.set_rotation(40)
    label.set_horizontalalignment('center')

host.tick_params(axis='x', which='both', direction='inout')
host.tick_params(axis='y', labelcolor='r')
host.legend(labelcolor="linecolor")

par.set_ylabel("wRC", color='b')
par.tick_params(axis='y', labelcolor='b')

fig2.suptitle("wOBA and wRC of players")
fig2.savefig("exercise2_2.png", bbox_inches='tight', facecolor='white')

plt.show()
```

</details>

## Reference

The data of this lecture is from [FanGraphs.com](https://www.fangraphs.com/) and [Kaggle.com](https://www.kaggle.com/datasets/saurabhshahane/major-league-baseball-dataset).